

html, body {
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  margin: 0;
  background-color: cadetblue;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  border: 5px solid black;
  height: 500px;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;

}


/* SCREEN */
.screen {
  background-color: white;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.screen-current {
  height: 40%;
  background-color: aliceblue;
  border-radius: 5px;
  text-align: right;
  font-size: 20px;
}

.screen-last {
  height: 60%;
  background-color: aliceblue;
  border-radius: 5px;
  text-align: right;
  font-size: 30px;
  font-weight: bold;
}


